  <%-include('partials/header',{tab:'Evently'})-%>
  <%-include('partials/navbar')-%>
      <section class="trending-events py-5">
          <div class="main-content  container">
              <h2 class="mb-5">Event History (<%=l%>)</h2>
              <%-include('partials/loader')-%>
              <div class="row">
                  <% if (typeof admins !=='undefined' ) { for (let event of admins) { %>
                  <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
                      <div class="card event-card shadow-sm h-100">

                          <div class="card-body">
                              <h5 class="card-title mb-0"><%=event.EventName%></h5>
                              <div class="mb-3"><span class="badge rounded-pill bg-success"><%=event.OrganizerName%></span>
                              <%if(event.Action === 'Approved') {%>
                                <span class="badge rounded-pill bg-success">Approved</span>
                              <%} else {%>
                                <span class="badge rounded-pill bg-danger">Rejected</span>
                              <%}%>
                              </div>
                              <p class="card-text">
                                  Event Date & Time:&nbsp;<%=new Date(event.EventDateTime).toLocaleString()%>
                              </p>
                              <p class="card-text">
                                  Location:&nbsp;<%=event.Address%>
                              </p>
                          </div>
                      </div>
                  </div>
                  <% } %>
                  <% } %>
              </div>
          </div>
      </section>
      <%-include('partials/footer')-%>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/custom/js/animation.js"></script>
      <script  src="/custom/js/main.js"></script>
