<%-include('partials/header',{tab:'Evently'})-%>
<body>
<%-include('partials/loader')-%>
<form action="/createEvent" method="post" onsubmit="showBootstrapLoader()" enctype="multipart/form-data">
    <section class="create-event">
        <div class="container">
            <div class="d-block d-md-flex">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-6 py-5">
                        <a href="/" class="btn btn-secondary mb-3" >BACK</a>
                        <h1 class="display-3 fw-bold">Create Event</h1>
                    </div>
                    <div class="col-12">
                        <form>
                            <div class="mb-3 col-md-8">
                                <label for="organizername" class="form-label">Organizer Name</label>
                                    <input type="text" class="form-control" name="organizername" value="<%= orgname %>" readonly>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="organizeremail" class="form-label">Organizer Email</label>
                                    <input type="text" class="form-control" name="organizeremail" value="<%= username %>" readonly>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="eventname" class="form-label">Event Name</label>
                                 <% if (typeof eventname !== 'undefined') { %>
                                    <input type="text" class="form-control" name="eventname" value="<%= eventname %>">
                                <% } else { %>
                                    <input type="text" class="form-control" name="eventname">
                                <% } %>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="slotsavailable" class="form-label">Available slots </label>
                                 <% if (typeof slotsavailable !== 'undefined') { %>
                                    <input type="text" class="form-control" name="slotsavailable" value="<%= slotsavailable %>">
                                <% } else { %>
                                    <input type="text" class="form-control" name="slotsavailable">
                                <% } %>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="price" class="form-label">Price </label>
                                <% if (typeof price !== 'undefined') { %>
                                    <input type="text" class="form-control" name="price" value="<%= price %>">
                                <% } else { %>
                                    <input type="text" class="form-control" name="price">
                                <% } %>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="description" class="form-label">Description </label>
                                <!-- <input type="text" name="description" class="form-control" id="description" required> -->
                                 <% if (typeof description !== 'undefined') { %>
                                    <textarea class="form-control" type="text" name="description" aria-label="With textarea" id="description"><%= description %></textarea>
                                <% } else { %>
                                    <textarea class="form-control" type="text" name="description" aria-label="With textarea" id="description"></textarea>
                                <% } %>
                                
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="eventdatetime" class="form-label">Event Date and Time</label>
                                <% if (typeof eventdatetime !== 'undefined') { %>
                                    <input type="datetime-local" class="form-control" name="eventdatetime" value="<%= eventdatetime %>">
                                <% } else { %>
                                    <input type="datetime-local" class="form-control" name="eventdatetime">
                                <% } %>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="eventaddress" class="form-label">Event Address</label>
                                <% if (typeof eventaddress !== 'undefined') { %>
                                    <input type="text" name="eventaddress" class="form-control" id="eventaddress" value="<%= eventaddress %>">
                                <% } else { %>
                                    <input type="text" name="eventaddress" class="form-control" id="eventaddress">
                                <% } %>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="eventImage" class="form-label">Event Images</label>
                                <input class="form-control" type="file" id="formFile" name="eventImage">
                            </div>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary w-100 mb-5">Create Event</button>
                            </div>
                            <% if (typeof error !== 'undefined') { %>
                                <div class="col-md-8 text-center">
                                    <% for (let err of error ) { %>
                                        <span class="error mb-5"> <%= err %></span>
                                        <br>
                                        <% } %>
                                    </div>
                            <% } %>
                            <% if (typeof err !== 'undefined') { %>
                                <div class="col-md-8 text-center">
                                    <span class="error mb-5"> <%= err %></span>
                                    <br>
                                </div>
                            <% } %>   
                        </form>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img src="/images/event4.jpg" class="img-fluid rounded mx-auto" alt="...">
                </div>
            </div>
        </div>
    </section>
</form>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
        // Initialize Flatpickr on the input field with name="eventdatetime"
        flatpickr("input[name='eventdatetime']", {
           enableTime: true, // Enable time selection
            dateFormat: "Y-m-d H:i", // Date and time format
            minDate: "today", // Disable all dates before today
            minuteIncrement: 1, // Increment time by 1 minute
            defaultHour: new Date().getHours(), // Set current hour by default
            defaultMinute: new Date().getMinutes(), // Set current minute by default
        });
</script>
<script  src="/custom/js/main.js"></script>
</body>
</html>
