<%-include('partials/header',{tab:'Evently'})-%>
<%-include('partials/navbar')-%>
<section class="trending-events py-5">
    <div class="container">
        <h2 class="text-center mb-5">Events</h2>
        <%-include('partials/loader')-%>

        <!-- Search Bar -->
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <form action="/searchEvents" method="GET" class="d-flex">
                    <input 
                        class="form-control me-2" 
                        type="search" 
                        name="query" 
                        placeholder="Search for events by name, organizer, or location..." 
                        aria-label="Search"
                    >
                    <button class="btn btn-primary" type="submit">Search</button>&nbsp;&nbsp;
                    <a  href="/events" class="btn btn-secondary" type="submit">Clear</a>
                </form>
            </div>
        </div>
        <!-- End of Search Bar -->

        <div class="row">
            <% if (typeof approvedEvents !== 'undefined') { 
                for (let event of approvedEvents) { %>
                <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
                    <div class="card event-card shadow-sm h-100">
                        <img
                            src="<%= event.ImageUrl %>"
                            class="card-img-top event-img"
                            alt="Event Image"
                        />
                        <div class="card-body">
                            <h5 class="card-title mb-0"><%= event.EventName %></h5>
                            <div class="mb-3">
                                <span class="badge rounded-pill bg-success"><%= event.OrganizerName %></span>
                            </div>
                            <p class="card-text">
                                <%= event.Description.substring(0, 100) + '...' %>
                            </p>
                            <p class="card-text">
                                Organizer: <%= event.OrganizerName %>
                            </p>
                            <p class="card-text">
                                Available Slots: <%= event.SlotsAvailable %> slots
                            </p>
                            <p class="card-text">
                                Price: $<%= event.Price %>
                            </p>
                            <p class="card-text">
                                Duration: <%= event.Duration %> hours
                            </p>
                            <p class="card-text">
                                Date/Time: <%= new Date(event.EventDateTime).toLocaleString('en-US', { timeZone: 'America/New_York', hour12: true }) %>
                            </p>
                            <p class="card-text">
                                Location: <%= event.Address %>
                            </p>
                            <a href="/bookEvent/<%= event._id %>" class="btn btn-outline-dark-purple btn-book" onclick="showBootstrapLoader()">Book</a>
                            <a href="/viewEvent/<%= event._id %>" class="btn btn-outline-dark-purple btn-book" onclick="showBootstrapLoader()">View</a>
                        </div>
                    </div>
                </div>
            <% } } %>
        </div>
    </div>
</section>
<%-include('partials/footer')-%>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/custom/js/animation.js"></script>
<script src="/custom/js/main.js"></script>
