  <%-include('partials/header',{tab:'Evently - Discover & Book Events'})-%>
<body>
    <%-include('partials/navbar')-%>
    <%-include('partials/hero-header')-%>
    <%-include('partials/trending')-%>
    <%-include('partials/testimonials')-%>
    <%-include('partials/footer')-%>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/custom/js/animation.js"></script>
    </body>
</html>

