  <%-include('partials/header',{tab:'Evently - Discover & Book Events'})-%>
  <body>
    <% if (typeof salutation !== 'undefined' && salutation.length>0  && typeof  notification !==  'undefined' && notification.length > 0) { %>
      <%-include('partials/notification',{salutation:salutation, notification:notification}) %>
    <% } %>
    <%-include('partials/navbar')-%>
    <%-include('partials/hero-header')-%>
    <%-include('partials/trending')-%>
    <%-include('partials/testimonials')-%>

    <%-include('partials/footer')-%>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/custom/js/animation.js"></script>
  </body>
</html>

