<%-include('partials/header',{tab:'Evently - Discover & Book Events'})-%>
<%-include('partials/navbar')-%>
<div class="main-content">

  <div class="container mt-5">
    <a href="/" class="btn btn-secondary mb-3" >BACK</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Address</th>
          <th>Event Date/Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the admins array and display each event -->
        <% admins.forEach(admin => { %>
          <tr>
            <td><%= admin.EventName %></td>
            <td><%= admin.Address %></td>
            <td><%= new Date(admin.EventDateTime).toLocaleString() %></td>
            <td><%= admin.Action %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
 <%-include('partials/footer')-%>