  <%-include('partials/header',{tab:'Evently'})-%>
  <body>
    <%-include('partials/loader')-%>
    <form action="/register" method="post" onsubmit="showBootstrapLoader()">
        <section class="sign-up">
            <div class="container">
                <div class="d-block d-md-flex">
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-6 py-5">
                            <h1 class="display-3 fw-bold">Create an account</h1>
                        </div>
                        <div class="col-12">
                            <form>
                                <div class="mb-3 col-md-8">
                                  <label for="email" class="form-label">Email address</label>
                                  <% if (typeof email !== 'undefined') { %>
                                    <input type="text" class="form-control" name="email"  aria-describedby="emailHelp" value="<%= email %>" >
                                  <% } else { %>
                                    <input type="text" class="form-control" name="email"  aria-describedby="emailHelp" >
                                  <% } %>
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3 col-md-8">
                                  <label for="confirmEmail" class="form-label">Confirm Email</label>
                                  <input type="text" name="confirmEmail" class="form-control">
                                </div>
                                <div class="d-block d-md-flex justify-content-between col-md-8">
                                    <div class="col-12 col-md-5">
                                        <div class="mb-3">
                                            <label for="firstName" class="form-label">First Name</label>
                                            <% if (typeof firstName !== 'undefined') { %>
                                                <input type="text" name="firstName" class="form-control"  value="<%=firstName %>">
                                            <% } else { %>
                                                <input type="text" name="firstName" class="form-control" >
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5">   
                                        <div class="mb-3">
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <% if (typeof firstName !== 'undefined') { %>
                                                <input type="text" name="lastName" class="form-control" value="<%=lastName %>"  >
                                            <% } else { %>
                                                <input type="text" name="lastName" class="form-control" >
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-8">
                                  <label for="password" class="form-label">Password</label>
                                  <input type="password" name="password" class="form-control" id="password" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <% if (typeof typeOf  !== 'undefined') { %>
                                        <input id="organizer" type="checkbox" class="form-check-input"  name="typeOf"  onclick="showOrganizerSpecificFields(this)"  checked>
                                    <% } else { %>
                                        <input type="checkbox" class="form-check-input"  name="typeOf"  onclick="showOrganizerSpecificFields(this)" >
                                    <% }%> 
                                  <label class="form-check-label" for="exampleCheck1">I am an organizer</label>
                                </div>
                                <div id="toggleField" class="hide mb-3 col-md-8">
                                    <label for="organizationName" class="form-label">Organization Name</label>
                                    <% if (typeof organizationName  !== 'undefined') { %>
                                        <input type="text"  name="organizationName" class="form-control" value="<%=organizationName %>">
                                    <% } else { %>
                                        <input type="text"  name="organizationName" class="form-control">   
                                    <% } %>
                                </div>
                                
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary w-100 mb-3">Create Account</button>
                                </div>

                                <% if (typeof error !== 'undefined') { %>
                                    <div class="col-md-8 text-center">
                                            <% for (let err of error ) { %>
                                            <span class="error mb-5"> <%= err %></span>
                                            <br>
                                            <% } %>
                                        </div>
                                <% } %>
                                <% if (typeof err !== 'undefined') { %>
                                    <div class="col-md-8 text-center">
                                        <span class="error mb-5"> <%= err %></span>
                                        <br>
                                    </div>
                                <% } %>                       
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="/images/event4.jpg" class="img-fluid rounded mx-auto" alt="...">
                    </div>
                </div>
            </div>
        </section>
    </form>
    <script  src="/custom/js/main.js"></script>
  </body>
</html>
